@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .nav-item-wrap{
        counter-reset: nav-item;
       
    }
    
    .nav-item::before{
        color: var(--color-highlight);
        counter-increment: nav-item;
        content: "0"counter(nav-item)". ";
    }
}

