@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #112240;
  --color-primary-light: #233554;

  --color-font-primary: #454545;
  --color-font-secondary: #e0d7d7;;

  --color-highlight: #FF6000;
  --color-background: #FFFFFF;
}

/* @media (prefers-color-scheme: dark) {
  :root {  }
} */

body {
  color: rgb(var(--color-font-primary));
  background: var(--color-background);
}
