@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #112240;
  --color-primary-light: #233554;

  --color-font-primary: #454545;
  --color-font-secondary: #e0d7d7;

  --color-highlight: #FF6000;
  --color-background: #233554;
}

/* @media (prefers-color-scheme: dark) {
  :root {  }
} */

body {
  color: var(--color-font-primary);
  background: var(#FFFFFF);
}
